@font-face {
  font-family: "clashgrotesk";
  src: url("/assets/fonts/ClashGrotesk/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "clashgrotesk";
  src: url("/assets/fonts/ClashGrotesk/ClashGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "clashgrotesk";
  src: url("/assets/fonts/ClashGrotesk/ClashGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}
