$white: #ffffff;
$black: #121212;
$mid-black: #626f84;
$light-black: #878f9c;
$blue: #1e90ff;
$dark-blue: #1d7fdd;
$bg-blue: #f3f7fc;
$grey: #fafcff;
$border-midblack: #f2f4f7;

:root {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
}
// 30px on mobile
// 64px on desktop
h1 {
  font-size: 2.225rem;
  line-height: 48px;
  color: $white;
  word-break: break-word;
}

// 56px
h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  color: $black;
  word-break: break-word;
}

// 48px
h3 {
  font-size: 2rem;
  line-height: 3rem;
  color: $black;
  word-break: break-word;
}

// 32px
h4 {
  font-size: 2rem;
  color: $black;
}

// 18x?
h5 {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

// 20x
h6 {
  font-size: 1.25rem;
  line-height: 2.1875rem;
}

// 16px
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
li {
  line-height: 1.5rem;
}
// 14px
small {
  font-size: 0.875rem;
  line-height: 0.875rem;
  color: $black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: clashgrotesk;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

// button
.button {
  padding: 18px 22px;
  background: $blue;
  font-size: 1.125rem;
}
.button.button-mobile {
  padding: 12px 24px;
}
.button--md {
  @extend .button;
  padding: 16px 26px;
}
.button--outline {
  @extend .button;
  background: none;
  border-color: $blue;
  color: $blue;
}

.hero {
  padding: 16px;
  .hero__text {
    .hero__description {
      color: $mid-black;
      font-family: inter;
    }
    .button,
    .button--outline {
      width: -webkit-fill-available;
    }
    .button:hover {
      background: $black;
      transition: all 0.2s linear 0s;
    }
  }

  .slider-container {
    background: $blue;
    width: 100%;
    position: absolute;
    z-index: 9999;
    height: 100vh;
    max-height: 100vh;
    top: 90px;
    left: 0;
    right: 0;
    max-width: 100%;
    overflow: hidden;
    .progressBarContainer div {
      display: block;
      width: 30%;
      padding: 0;
      cursor: pointer;
      margin-right: 5%;
      float: left;
      color: white;
    }

    .progressBarContainer div:last-child {
      margin-right: 0;
    }

    .progressBarContainer div span.progressBar {
      width: 100%;
      height: 4px;
      background-color: rgba(255, 255, 255, 0.4);
      display: block;
    }

    .progressBarContainer div span.progressBar .inProgress {
      background-color: rgba(255, 255, 255, 1);
      width: 0%;
      height: 4px;
    }
    .sliderContainer {
      position: relative;
    }

    .slider {
      width: 260px;
      margin: 30px 0 0;

      .slide__subheading {
        color: #eef6fd;
      }
      .slide__descriptionheading {
        font-size: 1.125rem;
        font-family: clashgrotesk;
        -moz-webkit-padding-before: 0px;
      }
      .slide__paragraph {
        color: #eef6fd;
        font-size: 1.125rem;
      }
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-dots {
      bottom: -30px;
    }
  }
  .slide-in-top {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}

main {
  .fixed__navigation {
    background: $black;
    padding: 32px 16px;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    .fixed__navigation-text > span {
      color: #d7d9e8;
    }
    .fixed__navigation-text > a {
      display: inline-flex;
      align-items: center;
    }
    .hamburger-menu {
      cursor: pointer;
      position: absolute;
      right: 16px;
      z-index: 2;
      .bar {
        width: 30px;
        height: 3px;
        background: white;
        margin-bottom: 5px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
      }
      &.hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
      }
      &.hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  .sidebar {
    overflow-y: scroll;
    height: calc(100vh - 70px);
    background: $grey;
    position: sticky;
    top: 5rem;
    left: 0;
    &.scroll::-webkit-scrollbar {
      display: block;
      width: 4px;
    }

    &.scroll::-webkit-scrollbar-thumb {
      background: #bdbdbd;
    }
    &.scroll::-webkit-scrollbar-track {
      margin-top: 10px;
      margin-bottom: 80px;
    }
    ul {
      padding: 16px 16px 0 16px;
    }

    .footer {
      padding: 16px;
      font-family: clashgrotesk;
    }
    li > a {
      color: $light-black;
      font-family: clashgrotesk;
    }
    li > a:hover {
      color: $black;
      transition: 0.7s ease;
    }

    li > a:is(:link, :active, :visited).active {
      color: black;
    }

    .footer {
      .heart {
        color: #ee7273;
      }
      small {
        a {
          color: $black;
        }
      }
    }
  }

  .glossary__item-container {
    padding: 24px 16px 24px 16px;
    width: 100%;
    .border-midblack {
      border-color: $border-midblack;
    }
    .engage {
      padding-bottom: 24px;
      border-bottom: 2px solid $border-midblack;
      padding-top: 24px;
    }
    .engage-title {
      font-weight: 600;
    }
    .engage-content {
      color: $mid-black;
      font-size: 1.125rem;
      padding: 16px 0;
    }
    .engage-content > span {
      font-style: italic;
      font-weight: 500;
      line-height: 1.875rem;
    }
    .engage-content {
      span {
        a {
          color: $mid-black;
          font-weight: 600;
        }
      }
    }

    .engage-content > p {
      font-size: 1.125rem;
      line-height: 1.875rem;
      padding-top: 16px;
    }

    .engage-logo {
      a {
        color: #333333;
        font-weight: 600;
        text-decoration: none;
        font-family: clashgrotesk;
      }
      a:hover {
        color: black;
        font-weight: 600;
        text-decoration: underline;
      }
    }
    .engage-img {
      padding-top: 32px;
    }
    .engage-annotation {
      font-size: 0.875rem;
      line-height: 1.3rem;
      color: $mid-black;
      padding-top: 8px;
    }
    li:before {
      // content: "-";
      padding-right: 5px;
      line-height: 24px;
    }

    li {
      &:not(:last-child) {
        padding-bottom: 4px;
      }
    }
    .other__definition-container {
      margin-top: 40px;
      .other__definition-title {
        color: $black;
        font-weight: 500;
      }
      .card__wrapper {
        background: $bg-blue;
        margin-top: 24px;
        padding: 24px;
      }
      .card__group {
        &:not(:last-child) {
          margin-bottom: 64px;
        }
      }

      .card-title {
        color: $black;
        font-weight: 600;
        margin-bottom: 16px;
      }
      .card-content {
        padding: 16px;
        background-color: white;
        border-radius: 4px;
        p:not(:first-child) {
          padding-top: 16px;
        }
      }
      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        padding-top: 8px;
      }

      li:before {
        content: "-";
        padding-right: 5px;
        line-height: 24px;
      }

      li {
        &:not(:last-child) {
          padding-bottom: 4px;
        }
      }
      .card-content > p {
        color: $mid-black;
      }
      .card-content > ul {
        color: $mid-black;
      }
      .card-link {
        color: #425066;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding-top: 16px;
        font-family: clashgrotesk;

        i {
          padding-left: 8px;
        }
      }
      .card-link:hover {
        color: black;
      }
      .card-link:hover > i {
        padding-left: 14px;
        transition: all 0.2s linear 0s;
      }
    }
  }
}

h1 {
  color: $black;
}
