<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>{{page.title}}</title>
    <meta name="title" content="{{page.title}}" />
    <meta name="description" content="{{page.description}}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://martomation.com{{page.url | replace: '.html', ''}}"
    />
    <meta property="twitter:title" content="{{page.title}}" />
    <meta property="twitter:description" content="{{page.description}}" />
    <meta
      property="twitter:image"
      content="https://martomation.com/assets/img/martomation"
    />
    <meta property="twitter:image:width" content="300" />
    <meta property="twitter:image:height" content="157" />

    <meta
      name="keywords"
      content="Martomation, Glossary, Engage, Email, Marketing, Terms"
    />
    <meta name="robots" content="index, follow" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="Engage Messaging Inc" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      crossorigin="anonymous"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    />
    <link rel="stylesheet" href="/css/tachyons.min.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link
      rel="canonical"
      href="https://martomation.com{{ page.url | replace: '.html', '' }}"
    />
    <link rel="icon" type="image/png" href="/assets/img/favicon.svg" />
  </head>

  <body>
    <header class="hero flex flex-column flex-row-l center">
      <!-- left colum / header text -->
      <div class="fl w-100 w-50-l">
        <div class="mw-100 mw-100-m mw6-l mw7-xl">
          <nav class="flex justify-between">
            <a href="/index"
              ><img
                class="mw4 mw5-m mw5-l"
                src="/assets/img/blue-logo.svg"
                alt=""
            /></a>
            <span class="close__btn dn dn-m dn-l">
              <i class="ri-close-line"></i>
            </span>
          </nav>
          <div class="hero__text tl tc-m tl-l pt6 pt6-m pt6-l">
            <h2 class="hero__title fw6 ph0 ph0-m ph0-l">
              Your Personal Email Marketing Dictionary.
            </h2>
            <h5 class="hero__description fw5 pt3 mt2 ph0 ph0-m ph0-l">
              Never get stuck again, get the definition of all email marketing
              terms in one place.
            </h5>
            <a
              href="/glossary/alt-tags"
              class="flex items-center button link white fw6 br2 dib mt5 justify-center explore"
            >
              Explore terms
              <i class="ri-arrow-right-down-line white pl2 dn db-m db-l"></i>
            </a>
            <a
              href=""
              class="button--outline ba bw2 link white fw6 br2 mt4 mb4 db dn-m dn-l dib tc"
            >
              View new terms
            </a>
          </div>
        </div>
      </div>
      <!-- slider begins -->
      <div
        class="slider-container w-100 w-50-l white pa4 pa5-m pa5-l pb6-xl br4 br3-m br2-l br--top mt0 mt5-m mt0-l mb3 mb0-m mb0-l"
      >
        <div class="progressBarContainer">
          <div class="item">
            <span data-slick-index="0" class="progressBar"></span>
          </div>
          <div class="item">
            <span data-slick-index="1" class="progressBar"></span>
          </div>
          <div class="item">
            <span data-slick-index="2" class="progressBar"></span>
          </div>
        </div>
        <div class="slider single-item">
          <!-- slide 1 -->
          <div>
            <div class="mt4">
              <h5 class="slide__subheading white fw5">Word of the Week</h5>
              <h2 class="slide__heading mt2 fw6 white word-of-the-week">
                Email Preheader
              </h2>
              <p class="slide__descriptionheading pt4 mt2 fw6 dib">
                Description
              </p>
              <p class="slide__paragraph pt2 fw5 word-of-the-week-description">
              An email preheader text is a summary text at the top of your email content, added to show as a preview text in your recipient’s email inbox. By default, the email client will use the first set of texts in the email as the preview text. Setting a preheader text within the content lets you customize what to show as the preview text.</p>
            </div>
            <div class="slide__author pt5">
              <p class="fw5">As defined by</p>
              <h4 class="white f3">Engage</h4>

              <!-- <div class="logo-auth">
              <img src="/assets/img/shopify-logo.svg" alt="">
              </div> -->
            </div>
          </div>

          <!-- slide 2 -->
          <div>
            <div class="mt4">
              <h5 class="slide__subheading white fw5">Popular Word</h5>
              <h2 class="slide__heading mt2 fw6 white">Segmentation</h2>
              <p class="slide__descriptionheading pt4 mt2 fw6">Description</p>
              <p class="slide__paragraph pt2 fw5">
                Customer segmentation is the process of dividing customers into
                groups based on common characteristics so companies can market
                to each group effectively and appropriately
              </p>
            </div>
            <div class="slide__author pt5">
              <p class="fw5">As defined by</p>
              <!-- <h4 class="white f3">Engage</h4> -->
              <div class="logo-auth">
                <img src="/assets/img/shopify-logo.svg" alt="" />
              </div>
            </div>
          </div>
          <!-- slide 3 -->
          <div>
            <div class="mt4">
              <h5 class="slide__subheading white fw5">All-time Favourite</h5>
              <h2 class="slide__heading mt2 fw6 white">Automation</h2>
              <p class="slide__descriptionheading pt4 mt2 fw6">Description</p>
              <p class="slide__paragraph pt2 fw5">
                Automation is a sequence of processes that can be automatically
                triggered to perform specific customer-related tasks
              </p>
            </div>
            <div class="slide__author pt5">
              <p class="fw5">As defined by</p>
              <h4 class="white f3">Engage</h4>
              <!-- <div class="logo-auth">
                            <img src="/assets/img/shopify-logo.svg" alt="">
                        </div> -->
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>

  <script src="/js/slider.js"></script>
  <script src="/js/index.js"></script>

  <script
    crossorigin="anonymous"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
  ></script>
  <script
    crossorigin="anonymous"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
  ></script>
  <script>
    $(document).ready(function () {
      $(".slider").slick({
        infinite: true,
        arrows: false,
        dots: false,
        autoplay: false,
        // speed: 1000,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 990,
            settings: {
              slidesToShow: 1,
            },
          },
        ],
      });

      setTimeout(() => {
        $(".slider").slick("refresh");
      }, 100);

      //ticking machine
      var percentTime;
      var tick;
      var time = 1;
      var progressBarIndex = 0;

      $(".progressBarContainer .progressBar").each(function (index) {
        var progress = "<div class='inProgress inProgress" + index + "'></div>";
        $(this).html(progress);
      });

      function startProgressbar() {
        resetProgressbar();
        percentTime = 0;
        tick = setInterval(interval, 10);
      }

      function interval() {
        if (
          $(
            '.slider .slick-track div[data-slick-index="' +
              progressBarIndex +
              '"]'
          ).attr("aria-hidden") === "true"
        ) {
          progressBarIndex = $(
            '.slider .slick-track div[aria-hidden="false"]'
          ).data("slickIndex");
          startProgressbar();
        } else {
          percentTime += 1 / (time + 5);
          $(".inProgress" + progressBarIndex).css({
            width: percentTime + "%",
          });
          if (percentTime >= 100) {
            $(".single-item").slick("slickNext");
            progressBarIndex++;
            if (progressBarIndex > 2) {
              progressBarIndex = 0;
            }
            startProgressbar();
          }
        }
      }

      function resetProgressbar() {
        $(".inProgress").css({
          width: 0 + "%",
        });
        clearInterval(tick);
      }
      startProgressbar();
      // End ticking machine

      $(".progressBarContainer div").click(function () {
        clearInterval(tick);
        var goToThisIndex = $(this).find("span").data("slickIndex");
        $(".single-item").slick("slickGoTo", goToThisIndex, false);
        startProgressbar();
      });
    });
  </script>
</html>
